html {
  box-sizing: border-box;
  background-color: #280274;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
    line-height: 1.3;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 64px;
    margin-bottom: 60px;
}

h2 {
    font-size: 48px;
    margin-bottom: 42px;
}

h3 {
    font-size: 32px;
    margin-bottom: 30px;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-color: #280274;
}
@media screen and (min-width: 900px)
{
.header {
  flex-direction: row;
  justify-content: space-between;
  padding: 20 10px;
}
}

.header_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 900px)
{
.header_navigation {
  flex-direction: row;
}
}

.header_navigation a {
  display: block;
  font-size: 16px;
  padding: 16px;
  color: #E9F6FF;
  text-decoration: none;
}

.header_navigation{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Change the link color on hover */
.header_navigation a:hover {
  color: #f16900;
}


/* Settings for the logotype */
.header_logo {
  margin-top: 6px;
}

.header_logo img {
  width: 150px;
}

/* For all buttons on a light background */
.button {
  border: none;
  color: #280274;
  background-color: #E9F6FF;
  padding: 14px 32px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
 }

.button:hover {
  color: #f16900;
}

/* For all buttons on a dark background */
.button-white {
  background-color: #fff;
  color: #2b2b2b;
}


/*!--Section 1 - The Hero screen -->*/
/* Mobile responsiveness */

.hero{
    display: flex; 
    flex-direction: column;
    justify-content: start;
    background-color: #2b2b2b;
    color: #fff;
    text-align: start;
    padding: 50px;
    background-image: url("/images/Amster.MacBook\ Pro\ 16_\ -\ 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.content .info h1{
color: #E9F6FF;
font-size: 42px;
margin-bottom: 30px;
}


.content .info-btn{

  border: none;
  color: white;
  background-color: #f97d00;
  padding: 14px 32px;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  text-decoration: none;
 
 
}

.content .info-btn:hover{
  color: #280274;
  background: #E9F6FF;

}


/*Section About*/


.about{

  position: relative; 
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  

}

.about h2{
  color: #fff;
  align-items: center;
  text-align: center;
  
  
  
}

.text p{
  color: #fff;
  align-items: center;
  text-align: center;
  font-weight: normal;
  padding-bottom: 20px;
  margin: 5%;
  
}

.back-video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: auto;
  object-fit: contain;

  background: rgba(0,0,0,0.7);
}



/*Section sights*/

.sights{
  background-color: #280274;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
  
   
}

.sights h2{
  color:#E9F6FF;
  align-items: center;
  text-align: center;
  padding: auto;
  margin-top: 90px;
}


.container-card{

min-height: 80vh;
position: relative;
align-items: center;
justify-content: center;
padding: 10px 0px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}

/*Card Text*/

.card__price {
text-decoration: none;
color: #280274;
font-size: 24px;
font-weight: bold;
}

.card__title{

text-decoration: none;
color: #280274;
font-size: 18px;
font-weight: bold;
}


/*Button*/

.btn{
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #f16900;
  color: #f0eded;
  width: 120px;
  height: 40px;
  padding: 13px 20px;
  transition: .3s;
}


.btn:hover{
  color: #f0eded;
  background: #280274;

}

.btn:active{
  background-color: #2e1f13;
}

.btn:focus{
  background-color: #280274;
  color: #fcfcfc;
}

/*Rating*/


.rating{
  display: flex;


}

.rating__star:not(last-child) {
margin-right: 6px;

}

/*Card*/

.card{
  text-align: left;
  width: 374px;
  min-height: 440px;
  background-color: aliceblue;
  border-radius: 4px;
  overflow: hidden;
  
}


.card__img{
  display: block;
  width: 100%;
  height: 217px;
  object-fit: cover;

}

.card__body{
  padding: 43px 36px;
}

.card_price_rating{
  justify-content: space-between;
  display: flex;
  margin-left: 20px;
}

.card__price{
  font-size: 20px;
  font-weight: 700px;
}

.card__rating{
margin-left: 20px;
}


.card__title{
  margin: 20px 0px 4px 20px;
  font-size: 24px;
  
}

.card__location{
  display: block;
  margin: 0px 0px 24px 20px;
  font-size: 16px;
  color: #999;
}

.card__btn{
  margin-left: 20px;
}

.card__btn{
  font-weight: bold;

}

.row-items{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, auto));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}



@media (max-width: 900px) {    
  

  .container-card {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
  }

  .hero {
  
    background-position: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url("/images/Amster.Surface Pro 8 - 1.png");
    
   
  }
  .content .info h1{
    
    font-size: 48px;
    margin-bottom: 60px;
    line-height: 1.5;
    
  }

  .info-btn{
    padding-top: 10%;
  }

  .sights .text h2{
    font-size: 56px; 
    margin-bottom: 20px; 
    line-height: 1.2;
  }

}

@media screen and (min-width: 900px) {
  .hero {
    padding: 14%; 
    
  }
    
  .sights .text h2{
    font-size: 56px; 
      margin-bottom: 20px; 
      line-height: 1.2;
  }

  
  .content .info h1 {
  
    margin-bottom: 60px;
    font-size: 82px; 
    line-height: 1.0; 
  }

  .content .info-btn {
   
    margin-top: 10px; 
  }

  .about .text p {
    font-size: 18 px;
    padding-bottom: 10px;
    line-height: 30px;
  }
  
  .about .text h2 {
    font-size: 56px;
    line-height: 40px; 
  }
}


/* Media query for screens with a maximum width of 599px (for mobile) */
@media screen and (max-width: 600px) {  
  .hero {
    
    padding: 30px; 
    background-image: url("/images/Amster.iPhone 14 & 15 Pro Max - 1.png");
  }

  .content .info h1 {
    font-size: 46px; 
    
    margin-bottom: 20px; 
    line-height: 1.2;
    
  }

  .content .info-btn {
    padding: 10px 24px; 
    font-size: 16px; 
  }

  .about .text p {
    font-size: 18 px;
    padding-bottom: 10px;
    line-height: 30px;
  }
  
  .about .text h2 {
    font-size: 36px; 
    line-height: 40px;
  }

  .back-video{
    margin: none;
}

.sights .text h2{
  font-size: 46px; 
    margin-bottom: 20px; 
    line-height: 1.2;
}
}

/* Footer styles */
/* Mobile responsiveness */
.footer {
  text-align: center;
  background: #E9F6FF;
  color: #280274;
  padding: 16px;
}

.footer .copyright {
  font-size: 10px;
}

/* Desktop version */
@media screen and (min-width: 900px) {
  .footer {
      padding: 20px;
  }

  .footer .copyright {
      font-size: 14px;
  }
}