html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 64px;
  margin-bottom: 60px;
}

h2 {
  font-size: 48px;
  margin-bottom: 42px;
}

h3 {
  font-size: 32px;
  margin-bottom: 30px;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header styles */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  background-color: #fff;
}

@media screen and (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
  }
}

.header_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .header_navigation {
    flex-direction: row;
  }
}

.header_navigation a {
  display: block;
  font-size: 16px;
  padding: 16px;
  color: #2b2b2b;
  text-decoration: none;
}

/* Change the link color on hover */
.header_navigation a:hover {
  color: #f16900;
}

.header_logo img {
  width: 150px;
}

/* For all buttons on a light background */
.button {
  border: none;
  color: white;
  background-color: #2b2b2b;
  padding: 12px 32px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
}

.button:hover {
  color: #f16900;
}

/* For all buttons on a dark background */
.button-white {
  background-color: #fff;
  color: #2b2b2b;
}

/* Footer styles */
/* Mobile responsiveness */
.footer {
  text-align: center;
  background: #2b2b2b;
  color: #fff;
  padding: 16px;
}

.footer .copyright {
  font-size: 10px;
}

/* Desktop version */
@media screen and (min-width: 900px) {
  .footer {
    padding: 20px;
  }

  .footer .copyright {
    font-size: 14px;
  }
}

/* Hero screen styles */
/* Mobile responsiveness */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2b2b2b;
  color: #fff;
  text-align: center;
  padding: 50px;
  background-image: url("https://418-feedfactory.imgix.net/5ff8a3acde7e8633a4ab7dca/ff82f28f-a3e0-4392-9c54-9e30da07dbe3.jpg?fit=max&auto=format&ixlib=imgixjs-3.3.2&w=1920");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero p {
  font-size: 16px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

/* Desktop version */
@media screen and (min-width: 900px) {
  .hero {
    padding: 15% 20%;
  }

  .hero p {
    font-size: 24px;
    margin-bottom: 60px;
  }

  .hero h1 {
    font-size: 64px;
    margin-bottom: 50px;
  }
}
/*Eman Section*/
/* Hero screen styles for the Hague page */
/* Mobile responsiveness */
.hero_hague {
  background-image: url("https://i.ibb.co/s5hNdq6/The-Hague-city.jpg");
}

/* Desktop version */
@media screen and (min-width: 900px) {
  .hero_hague {
    height: 880px;
  }
}
/*Eman's hague-page part styles Start*/
#aboutUs {
  /* border: 2px solid red; */
  padding: 20px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
}

#aboutUs img {
  width: 80%;
  margin: 30px;
  /* margin-left: 20px; */
  border-radius: 10px;
}
/* #aboutUs img {
  width: 400px;
  margin: 20px;
  border-radius: 10px;
} */
.content {
  margin: 20px 0;
}

.content h2 {
  font-size: 50px;
  margin-top: 30px;
  color: #0f0e0e;
}
.content h4 {
  font-size: 20px;
  color: #164499;
  /* color: #fff; */
  margin: 10px 0;
}

.content p {
  text-align: justify;
}

.description {
  color: black;
  /* color: #fff; */
  /* margin: 20px 0; */
  text-align: justify;
  margin-right: 50px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
}
.btn {
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.4s;
  background-color: #615e5e;
  margin-top: 10px;
}

.btn:hover {
  background-image: linear-gradient(to right, orange, blue);
  animation: slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
@media screen and (max-width: 790px) {
  #aboutUs img {
    width: 80%;
  }

  #aboutUs {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

/*Eman Culture part End*/
.culture {
  width: 100%;
  height: 750px;
  /* border: 2px solid blue; */
  margin-top: 80px;
}
.culture p {
  text-align: center;
  font-size: 20px;
}
article {
  color: black;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  margin-top: 50px;
}
h1 {
  text-align: center;
  margin-top: 40px;
}
.article-body p {
  font-size: 16px;
  text-align: justify;
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
  article p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

/*Eman Places section Start*/

.main {
  /* max-width: 1200px; */
  height: 900px;
  margin-top: -55px;
  /* margin: 0 auto; */
  /* border: 2px solid blue; */
}

h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* margin: 0; */
  margin-top: 25px;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 20px;
  width: 80%;
  /*height: 370px;*/
}

/*@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}*/

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card-1 {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 5px;
  background: linear-gradient(to bottom left, #e8eaf6 40%, #ffc39e 100%);
  /* background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%); */
}

.card_title2 {
  color: #0d0c0c;
  /* color: #ffffff; */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 5px;
  text-align: center;
  /* margin: 0px; */
}

/*Eman Places section  End*/

/*Eman Testimonial  Section start*/

.testimonials {
  /* border: 3px solid purple; */
  padding: 30px 0;
  text-align: center;
  margin-top: 60px;
}
.testimonial {
  height: 400px;
  background-color: #eeeded;
  padding: 25px;
  margin-left: 10px;
}

@media (max-width: 992px) {
  .testimonial {
    height: auto;
  }
}
.testimonial:hover {
  background: #dedfe0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.testimonials h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
.testimonials h3 {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
}
.testimonial-inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial p {
  font-size: 14px;
  margin-top: -10px;
  text-align: justify;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    width: 90%;
    margin-bottom: 60px;
  }
}

/*Eman Testimonial  Section End*/
