html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
    line-height: 1.3;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 64px;
    margin-bottom: 60px;
}

h2 {
    font-size: 48px;
    margin-bottom: 42px;
}

h3 {
    font-size: 34px;
    margin-bottom: 30px;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header styles */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background-color: #fff;
}

@media screen and (min-width: 900px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px;
    }
}

.header_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 900px) {
    .header_navigation {
        flex-direction: row;
    }
}

.header_navigation a {
    display: block;
    font-size: 16px;
    padding: 16px;
    color: #2b2b2b;
    text-decoration: none;
}

/* Change the link color on hover */
.header_navigation a:hover {
    color: #f16900;
}

.header_logo img {
    width: 150px;
}

/* For all buttons on a light background */
.button {
    border: none;
    color: white;
    background-color: #2b2b2b;
    padding: 12px 32px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
}

.button:hover {
    color: #f16900;
}

/* For all buttons on a dark background */
.button-white {
    background-color: #fff;
    color: #2b2b2b;
}

/* Footer styles */
/* Mobile responsiveness */
.footer {
    text-align: center;
    background: #2b2b2b;
    color: #fff;
    padding: 16px;
}

.footer .copyright {
    font-size: 10px;
}

/* Desktop version */
@media screen and (min-width: 900px) {
    .footer {
        padding: 20px;
    }

    .footer .copyright {
        font-size: 14px;
    }
}

/* Hero screen styles */
/* Mobile responsiveness */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 50px;
    background-image: url("https://418-feedfactory.imgix.net/5ff8a3acde7e8633a4ab7dca/ff82f28f-a3e0-4392-9c54-9e30da07dbe3.jpg?fit=max&auto=format&ixlib=imgixjs-3.3.2&w=1920");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero p {
    font-size: 16px;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 30px;
}

/* Desktop version */
@media screen and (min-width: 900px) {
    .hero {
        padding: 15% 20%;
    }

    .hero p {
        font-size: 24px;
        margin-bottom: 60px;
    }

    .hero h1 {
        font-size: 64px;
        margin-bottom: 50px;
    }
}

/* Hero screen styles for the Rotterdam page */
/* Mobile responsiveness */
.hero_rotterdam {
    background-image: url("../images/rotterdam-panorama.jpg");
}

/* Desktop version */
@media screen and (min-width: 900px) {
    .hero_rotterdam {
        height: 880px;
    }
}

/* Video afout Rotterdam settings */
.video_rotterdam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Basic articles styles */
/* Mobile responsiveness */
.article {
    display: flex;
    flex-direction: column;
    color: #2b2b2b;
    text-align: center;
    padding: 50px;
}

.article p {
    font-size: 14px;
}

.article h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

/* Desktop version */
@media screen and (min-width: 900px) {
    .article {
        padding: 150px 20%;
    }

    .article p {
        font-size: 18px;
    }

    .article h2 {
        font-size: 48px;
        margin-bottom: 50px;
    }
}

/* Styles for the gallery images */

.gallery_rotterdam {
    display: grid;
    grid-template-areas:
        'img-1'
        'img-2'
        'img-3';
    justify-content: center;
}

.gallery_rotterdam-img:nth-of-type(1) {
    grid-area: img-1;
}

.gallery_rotterdam-img:nth-of-type(2) {
    grid-area: img-2;
}

.gallery_rotterdam-img:nth-of-type(3) {
    grid-area: img-3;
}

.gallery_rotterdam-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 480px) {
    .gallery_rotterdam {
        grid-template-areas:
            'img-1 img-2'
            'img-3 img-2';
    }
}

@media (min-width: 680px) {
    .gallery_rotterdam {
        grid-template-areas:
            'img-1 img-2 img-3';
    }
}

.grid_container {
    display: grid;
    grid-template-columns: auto;
}

.block_wrapper {
    padding: 50px;
    font-size: 14px;
}

.block_wrapper ul {
    list-style: unset;
}

.block_wrapper h3 {
    font-size: 30px;
}

.block_wrapper-1 {
    background-color: #eaedf1;
}

.block_wrapper-2 {
    background-color: #f16900;
}

.block_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
    .grid_container {
        grid-template-columns: auto auto;
    }

    .block_wrapper {
        padding: 100px;
        font-size: 18px;
    }

    .block_wrapper h3 {
        font-size: 34px;
    }
}

/* These classes adds space after an element or block. */
.bottom_space_50 {
    margin-bottom: 50px;
}

.bottom_space_100 {
    margin-bottom: 100px;
}

/* Elena's index-page part styles */
.container {
    max-width: 1200px;
    margin: 110px auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
}

.text h2 {
    align-items: center;
    text-align: center;
    font-size: 48px;
    line-height: 1.1;
    padding: auto;
    margin: 40px;
}

.text p {
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.row-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    grid-gap 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.container-box {
    /*background: var(--bg-color);*/
    height: 500px;
    width: 320px;
    margin: 30px;
    border: 1px solid #f0eded;
    padding: 50px 10px;
    border-radius: 4px;
    transition: all 1s ease 0s;
    cursor: pointer;

}

.container-img img {
    height: 180px;
    width: 180px;
    padding: 0px;
    background: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85 85 85/20%);
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

.container-box h4 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 18px;
    padding-top: 15px;

}

.container-box p {
    font-size: 14px;
    color: var(--second-color);
    line-height: 18px;
    font-weight: normal;
}

.container-box:hover {
    box-shadow: 5px 30px 56.1276px rgb(55 55 55/12%);
    border: 1px solid transparent;
    transform: translateY(-3px);

}

/* Iryna's index-page part */
.table-im {
    width: 100%;
    margin: 15px auto;
    padding: 10px 10px 5px 10px;
    border: 1px solid #878383;
    border-collapse: separate;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
}

.heading-table-im {
    padding: 5px;
    text-align: center;
}

.table-im th,
td {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #DDD;
}

.table-im tr:hover {
    background-color: #eabf9d;
}

@media (min-width: 900px) {
    .table-im {
        font-size: 16px;
    }
}

/* End of Iryna's index-page part */

/* Utrecht */
/* Utrecht: Hero */
.hero-utrecht {
    display: flex;
    flex-direction: column;
    color: #fafaf0;
    text-align: center;
    background-image: url("../images/utrecht-hero.jpeg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
    text-shadow: 2px 2px  #000000, 0 0 25px rgb(247, 158, 80);
    line-height: 1.8;
    filter: contrast(88%);
    padding: 10% 15%;
}

.hero-utrecht p{
    font-size: 18px 
}


@media screen and (min-width: 900px) {
    .hero-utrecht {
            padding: 10% 15%;
        }
    .hero-utrecht p{
            font-size: 22px 
        }    
}

/* Utrecht: Amazing city */
.spoiler-utrecht, .box-utrecht {
    margin: 0px 10px 5px 10px;   
    padding: 10px;
}

.box-utrecht {
    text-align: center;
    font-size: 17px;
}

.spoiler-utrecht {
    border: 1px rgb(252, 175, 115) solid;
    border-radius: 15px;
    font-size: 17px;
}

.spoiler-utrecht h3{
    text-align: center;
}

.spoiler-utrecht p {
    font-size: 15px;
    padding: 5px;
    text-align: justify;
    text-indent: 10px;
}

@media screen and (min-width: 900px){
    .box-utrecht {
        margin: 0px 50px 20px 50px;   
        padding: 10px;
        font-size: 20px;
    }
    .spoiler-utrecht {
        margin: 0px 50px 20px 50px;   
        padding: 10px 30px;
        font-size: 20px;
        text-align: left;
    }
    .spoiler-utrecht p {
        font-size: 17px;
    }
}

/* Utrecht: Worth a visit */
.h2-utrecht {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.box-utrecht {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
  
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fafaf0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
  }

.img-utrecht {
    width: 300px;
    height: 200px;
    object-fit: cover;
    padding: 10px; 
    margin: 10px;
    border: 1px solid rgb(204, 202, 202) ;
    border-radius: 4px;
}

.img-utrecht:hover {
    box-shadow: 0 0 2px 1px rgb(252, 175, 115);
} 

  @media screen and (min-width: 900px){
    .img-utrecht {
        width: 350px;
        height: 250px;
      }
}


/* Utrecht: Castle De Haar */
.wrapper-utrecht {
    display: block;
    margin: 100px auto;
    width: 90%;
}

.up-utrecht {
    background-color: rgb(252, 175, 115);
    text-align: center;
}

.left-utrecht {
    max-width: 700px;
}

.right-utrecht h2 {
    margin: 20px;
    font-size: 22px;
    text-align: center;
}

.right-utrecht p {
    font-size: 17px;
    text-align: center;
}

@media screen and (min-width: 900px) {
    .wrapper-utrecht {
        margin: 50px auto;
    }
    .left-utrecht {
        max-width: 600px;
        float: left;
        margin-right: 15px;
    }
    .right-utrecht h2 {
        font-size: 25px;
    }
    .right-utrecht p {
        font-size: 20px;
        text-align: justify;
        text-indent: 20px;
    }
}
/* End Utrecht */